* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 95%;
  max-width: 1000px;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

aside {
  /* width: 33%; */
  flex-grow: 0.33;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea {
  padding: 0.8em 0.8em;
  font-size: 1.25rem;
  border-radius: 0.75rem;
  outline: none;
  border: 1px solid #aaa;
  transition: 0.15s;
}

input:focus, textarea:focus {
  box-shadow: 0 0 5px #ddd;
}

textarea {
  resize: none;
  height: 10rem;
}

#search {
  width: 100%;
}

img {
  display: inline-block;
}

#inputanddisplay {
  flex-grow: 2;
}

textarea {
  width: 100%;
}

#searchresults {
  display: flex;
  gap: 0.5rem;
}

.charactercard {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}

.charactercard img {
  object-fit: contain;
}

.charactercard:hover, .charactercard:active {
  background: #000;
}

.charactercard:hover img, .charactercard:active img {
  filter: invert(1);
}

#controls {
  margin-top: 1rem;
}

#display {
  margin-top: 1rem;
  border: 1px solid brown;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.verticaldisplay {
  flex-direction: row-reverse;
}

.darkbgdisplay {
  background: #333;
}

.line {
  width: 100%;
  height: 30px;
  display: flex;
  gap: 2px;
}

.verticalline {
  flex-direction: column;
  width: 30px;
  height: 100%;
}

.char {
  width: 30px;
  height: 30px;
  position: relative;
}

.darkbgchar {
  filter: invert(1);
}

.char img {
  object-fit: contain;
}

/* Everything below is adapted from https://www.w3schools.com/howto/howto_css_switch.asp lol */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .15s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .15s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}